@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Rubik:wght@300;400;500;600;700&display=swap');

.App {
	text-align: center;
}

header {
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

header h2 {
	font-weight: 600;
	font-family: 'Rubik', sans-serif;
	font-size: 50px;
	justify-self: start;
	margin-left: calc(5vw + 10px);
}

header button {
	justify-self: end;
	margin-right: calc(5vw + 10px);
	background: none;
	border: none;
	font-size: 30px;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
}

header button:hover {
	cursor: pointer;
	color: rgb(240, 240, 240);
}
