@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
	margin: 0px;
	box-sizing: border-box;
}

body {
	background: rgb(156, 201, 83);
	background: radial-gradient(
		circle,
		hsl(83, 52%, 56%) 0%,
		hsl(82, 73%, 25%) 100%
	);
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}
